<header>
  <nav>
    <a href="/">PHX Pizza Parlor</a>
      <ul>
        <li><a href="/ingredients">Ingredients</a></li>
        <li><a href="/ingredients/new">Add Ingredient</a></li>
      </ul>
  </nav>
</header>